<link rel="stylesheet" href="style/main.css">
<script src="https://use.fontawesome.com/ee6bf2d262.js"></script>




<a href="/feed/?page=<%=(displayedEntries/entriesPerPage)%>&&sort=-1"> sort oldest</a>
<a href="/feed/?page=<%=(displayedEntries/entriesPerPage)%>&&sort=+1"> sort newest</a>
<div id="entryContainer">

   <% for(let i=0; i<data.length; i++) { %>

    <p>  <b><%= data[i].entryHeader %></b>
    </br> 
        <%=data[i].entryBody %>
       <a href="/feed/<%=data[i].id%>"> <i class="fa fa-heart-o" aria-hidden="true"></i></a>
   <% } %> 
  

    </p>
</div>

<% if(entryCalc !== displayedEntries/entriesPerPage) { %>

    <a href="/feed/?page=<%=(displayedEntries/entriesPerPage) +1%>"> Show more </a>
  <% } else {   %>

    <a href="/?page=1"> Show less </a>

  <% } %>

  </br>
<a href="/"> Home </a>