<head>
  <link rel="stylesheet" href="style/main.css">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <script src="https://use.fontawesome.com/ee6bf2d262.js"></script>
</head>



<%- include("./navbar.ejs") %>
<%- include("./logo.ejs") %>
<div class="homeContainer">

<% if (!locals.user) { %>
  <div class="landingDiv">
        <h2> Welcome to Daytell!</h2>
        <h3>Your online personal diary</h3>
        <p>
        Daytell is a free online diary service where you can safely keep your personal diaries in your account.
        </p>
        <p>Entries can also be made public, so you can anonymously share your thoughts and stories with people from around the world</p>

        <a href="/register"><p>Join daytell today!</p></a>
      </div>
        <% } %>
<% if (locals.user) { %>

            <h2>Entry Feed </h2>

            

               <% for(let i=0; i<data.length; i++) { %>
                <div class="entryContainer">
                <span class="entryHead"> <%= data[i].entryHeader %> </span>

                  <span class ="entryBody">  <%=data[i].entryBody %> </span>
                   <a href="feed/<%=data[i].id%>"> <i class="fa fa-heart-o" aria-hidden="true"></i></a>
                  </div>
               <% } %> 
              
            
 






</div>
<span class="sortTag"> <a href="/?page=<%=(displayedEntries/entriesPerPage)%>&&sort=-1"> sort oldest</a></span>
<span class="sortTag"><a href="/?page=<%=(displayedEntries/entriesPerPage)%>&&sort=+1"> sort newest</a></span>
<% if(entryCalc !== displayedEntries/entriesPerPage) { %>
            
  <span class="sortTag"> <a href="/?page=<%=(displayedEntries/entriesPerPage) +1%>"> Show more </a> </span>
<% } else {   %>

  <span class="sortTag"><a href="/?page=1%>"> Show less </a></span>
  

<% } %>
     <% } %>